<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css" media="all">
      
body {
 font: 20px/150% sans-serif;
 margin: 50px;
}
.container {
 width: 800px;
}
p {
  margin: 0 0 1em 0;
}
h1 {
  font: bold 45pt/42pt sans-serif;
  letter-spacing: -1pt;
  color: #333;
}
h1 + p {
  page-break-after:always;
}
h2, h3, h4, h5 {
  margin: 1.5em 0 0.5em 0;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  border-top: 6px solid #ccc;
  margin-top: 3em;
  padding-top: .5em;
}
a, a:link, a:active, a:hover, a:visited {
  color: black;
}
blockquote {
  font-size: 20pt;
  line-height: 28pt;
  color: gray;
}
pre {
  padding: 15px;
  background: #ddd !important;
  width: 970px;
  overflow: auto;
}
img {
  margin-top: 1.5em;
}
img + br + em {
  color: #888;
  font-style: normal;
}
    </style>
  </head>
  <body>
    <div class="container">
      <%= html %>
    </div>
  </body>
</html>
